.codicon,
.custom-icon {
	display: inline-block;
	text-decoration: none;
	text-rendering: auto;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

i.codicon {
	font: normal normal normal 16px/1 codicon;
}

.codicon:before {
	font-family: codicon, serif;
	font-style: unset;
	line-height: 16px;
	width: 16px;
	height: 16px;
}

.custom-icon-wave::before {
	content: '(⁓)';
}

.codicon-plus:before {
	padding-left: 1px;
	content: '\ea60';
}

.codicon-tag:before {
	content: '\ea66';
}

.codicon-person:before {
	content: '\ea67';
}
.codicon-comment:before {
	content: '\ea6b';
}

.codicon-search:before {
	content: '\ea6d';
}
.codicon-eye:before {
	content: '\ea70';
}

.codicon-edit:before {
	content: '\ea73';
}

.codicon-info:before {
	content: '\ea74';
}

.codicon-error:before {
	content: '\ea87';
}

.codicon-folder:before {
	content: '\ea83';
}

.codicon-github:before {
	content: '\ea84';
}

.codicon-zap:before {
	content: '\ea86';
}

.codicon-arrow-down:before {
	content: '\ea9a';
}

.codicon-chevron-down:before {
	content: '\eab4';
}

.codicon-chevron-left:before {
	content: '\eab5';
}

.codicon-chevron-right:before {
	content: '\eab6';
}

.codicon-arrow-up:before {
	content: '\eaa1';
}

.codicon-book:before {
	content: '\eaa4';
}

.codicon-close:before {
	content: '\eab8';
}

.codicon-calendar:before {
	content: '\eab0';
}

.codicon-code:before {
	content: '\eac4';
}

.codicon-comment-discussion:before {
	content: '\eac7';
}

.codicon-debug-disconnect:before {
	content: '\ead0';
}

.codicon-filter:before {
	content: '\eaf1';
}

.codicon-heart:before {
	content: '\eb05';
}

.codicon-link-external:before {
	content: '\eb14';
}

.codicon-link:before {
	content: '\eb15';
}

.codicon-list-ordered:before {
	content: '\eb16';
}

.codicon-question:before {
	content: '\eb32';
}

.codicon-settings-gear:before {
	content: '\eb51';
}

.codicon-star-full:before {
	content: '\eb59';
}

.codicon-unverified:before {
	content: '\eb76';
}

.codicon-whole-word:before {
	content: '\eb7e';
}

.codicon-account:before {
	content: '\eb99';
}

.codicon-arrow-swap:before {
	content: '\ebcb';
}

.codicon-dash:before {
	content: '\eaba';
}

.codicon-file:before {
	content: '\ea7b';
}

.codicon-cloud:before {
	content: '\ebaa';
}

.codicon-screen-full:before {
	content: '\eb4c';
}

.codicon-copy:before {
	content: '\ebcc';
}

.codicon-pass:before {
	content: '\eba4';
}

.codicon-ellipsis:before {
	content: '\ea7c';
}
