@font-face {
	font-family: 'Zen Kaku Gothic New';
	font-weight: 900;
	src: url('/font/ZenKakuGothicNew-Black-subset.woff2') format('woff2'),
		url('/font/ZenKakuGothicNew-Black-subset.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	src: url('/font/Roboto-Regular.woff2') format('woff2'),
		url('/font/Roboto-Regular.woff') format('woff'),
		url('/font/Roboto-Italic.woff2') format('woff2') font-italic,
		url('/font/Roboto-Italic.woff') format('woff') font-italic;
}

@font-face {
	font-family: 'codicon';
	src: url('/font/codicon.woff2') format('woff2'), url('/font/codicon.woff') format('woff');
}
