@media (pointer: fine) {
	::-webkit-scrollbar {
		width: var(--scrollbar-size);
		height: var(--scrollbar-size);
		transition: background-color var(--default-transition-behaviour);
	}
	
	html,body, main {
		overflow-x: hidden;
		scrollbar-width: thin;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: rgba(200, 200, 255, 0.11);
		border-radius: var(--border-radius-full);
	}

	::-webkit-scrollbar-thumb:hover {
		background: rgba(200, 200, 255, 0.22);
	}
}
