:root[data-accent='crimson'] {
	--accent-color: crimson;
	--h: 348;
	--s: 83%;
	--l: 47%;
	--text-accent: #fff;
	--hover-lighten: 20%;
}
:root[data-accent='hotpink'] {
	--accent-color: hsl(330, 98%, 67%);
	--h: 330;
	--s: 100%;
	--l: 60%;
	--text-accent: #fff;
	--hover-lighten: 10%;
}
:root[data-theme='dark'] {
	--background-0: #000000;
	--background-1: #151520;
	--background-2: #303040;
	--background-3: #454560;
	--text: #aaa;
	--text-highlight: #fff;
	--text-muted: #777;
	--artist-background: rgba(170, 34, 34, 0.2);
	--artist-background-hover: rgba(170, 34, 34, 0.5333333333);
	--artist-color: #fff;
	--character-background: rgba(34, 170, 34, 0.2);
	--character-background-hover: rgba(34, 170, 34, 0.5333333333);
	--character-color: #fff;
	--copyright-background: rgba(187, 68, 187, 0.2);
	--copyright-background-hover: rgba(187, 68, 187, 0.5333333333);
	--copyright-color: #fff;
	--metadata-background: rgba(255, 136, 34, 0.2);
	--metadata-background-hover: rgba(255, 136, 34, 0.5333333333);
	--metadata-color: #fff;
	--general-background: rgba(102, 102, 34, 0.2);
	--general-background-hover: rgba(102, 102, 34, 0.5333333333);
	--general-color: #fff;
	--tag-active-background: var(--accent);
	--tag-active-background-hover: var(--accent-light);
	--tag-active-color: var(--text-accent);
	--tag-negated-background: rgba(221, 68, 68, 0.2);
	--tag-negated-background-hover: rgba(221, 68, 68, 0.5333333333);
	--tag-negated-color: #fff;
	--tag-negated-opacity: 0.8;
	--tag-optional-background: rgba(68, 221, 68, 0.2);
	--tag-optional-background-hover: rgba(68, 221, 68, 0.5333333333);
	--tag-optional-color: #fff;
	--tag-optional-opacity: 0.9;
	color-scheme: dark;
	--modifier-excluded: #fff;
	--modifier-optional: #384;
}
:root[data-theme='light'] {
	--background-0: #fff;
	--background-1: #ddd;
	--background-2: #bbb;
	--background-3: #999;
	--text: #444;
	--text-highlight: #000;
	--text-muted: #888;
	--artist-background: rgba(170, 34, 34, 0.5333333333);
	--artist-background-hover: rgba(170, 34, 34, 0.6666666667);
	--artist-color: #333;
	--character-background: rgba(34, 170, 34, 0.5333333333);
	--character-background-hover: rgba(34, 170, 34, 0.6666666667);
	--character-color: #333;
	--copyright-background: rgba(187, 68, 187, 0.5333333333);
	--copyright-background-hover: rgba(187, 68, 187, 0.6666666667);
	--copyright-color: #333;
	--metadata-background: rgba(255, 136, 34, 0.5333333333);
	--metadata-background-hover: rgba(255, 136, 34, 0.6666666667);
	--metadata-color: #333;
	--general-background: rgba(102, 102, 34, 0.5333333333);
	--general-background-hover: rgba(102, 102, 34, 0.6666666667);
	--general-color: #333;
	--tag-active-background: var(--accent);
	--tag-active-background-hover: var(--accent-light);
	--tag-active-color: var(--text-accent);
	--tag-negated-background: rgba(221, 68, 68, 0.4);
	--tag-negated-background-hover: rgba(221, 68, 68, 0.6666666667);
	--tag-negated-color: #fff;
	--tag-negated-opacity: 0.8;
	--tag-optional-background: rgba(68, 221, 68, 0.4);
	--tag-optional-background-hover: rgba(68, 221, 68, 0.6666666667);
	--tag-optional-color: #fff;
	--tag-optional-opacity: 0.9;
	color-scheme: light;
}
:root[data-theme='coffee'] {
	--background-0: #191515;
	--background-1: #3f3535;
	--background-2: #655555;
	--background-3: #8b7575;
	--text: #aaa;
	--text-highlight: #fff;
	--text-muted: #555;
	--artist-background: rgba(170, 34, 34, 0.2);
	--artist-background-hover: rgba(170, 34, 34, 0.5333333333);
	--artist-color: #fff;
	--character-background: rgba(34, 170, 34, 0.2);
	--character-background-hover: rgba(34, 170, 34, 0.5333333333);
	--character-color: #fff;
	--copyright-background: rgba(187, 68, 187, 0.2);
	--copyright-background-hover: rgba(187, 68, 187, 0.5333333333);
	--copyright-color: #fff;
	--metadata-background: rgba(255, 136, 34, 0.2);
	--metadata-background-hover: rgba(255, 136, 34, 0.5333333333);
	--metadata-color: #fff;
	--general-background: rgba(102, 102, 34, 0.2);
	--general-background-hover: rgba(102, 102, 34, 0.5333333333);
	--general-color: #fff;
	--tag-active-background: var(--accent);
	--tag-active-background-hover: var(--accent-light);
	--tag-active-color: var(--text-accent);
	--tag-negated-background: rgba(221, 68, 68, 0.2);
	--tag-negated-background-hover: rgba(221, 68, 68, 0.5333333333);
	--tag-negated-color: #fff;
	--tag-negated-opacity: 0.8;
	--tag-optional-background: rgba(68, 221, 68, 0.2);
	--tag-optional-background-hover: rgba(68, 221, 68, 0.5333333333);
	--tag-optional-color: #fff;
	--tag-optional-opacity: 0.9;
	color-scheme: dark;
}
:root {
	--line-height-small: 24px;
	--line-height: 32px;
	--box-height: 36px;
	--line-height-large: 44px;
	--grid-gap: 1rem;
	--small-gap: 0.5rem;
	--tiny-gap: 4px;
	--icon-size: 32px;
	--body-width: 800px;
	--border-radius: 5px;
	--border-radius-large: 10px;
	--border-radius-full: 9999px;
	--scrollbar-size: 6px;
	--text-size-small: 12px;
	--text-size: 14px;
	--text-size-large: 16px;
	--text-size-h1: 3.75rem;
	--text-size-h3: 1.5rem;
	--default-transition-behaviour: 0.2s ease-out;
	--text-link: #58a6ff;
	--default-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.75);
	--z-dialog: 999;
	--z-scroll-up: 10;
	--z-searchbar: 3;
	--z-media-controls: 2;
	--z-media: 1;
	--accent: hsl(var(--h), var(--s), var(--l));
	--accent-light: hsl(var(--h), var(--s), calc(var(--l) + var(--hover-lighten)));
	accent-color: var(--accent);
	font-family: 'Roboto', sans-serif;
	background-color: var(--background-0);
}

html {
	color: var(--text);
	background-color: var(--background-0);
	font-size: var(--text-size);
	transition: background var(--default-transition-behaviour);
}

/*# sourceMappingURL=theme.css.map */
